{
	"presets": [
		[
			"@babel/preset-env", 
			{
				"useBuiltIns": "entry",
				"corejs": "3.0.0",
				"targets": {
					"ie": 11,
					"browsers": ["last 2 versions", "safari 7"]
				},
			}
		],
		[
			"@babel/preset-react",
			{
				"throwIfNamespace": false // defaults to true
			}
		]
	],
	"plugins": [
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-syntax-dynamic-import",
		["@babel/plugin-proposal-pipeline-operator", {"proposal": "minimal" }],
		"@babel/plugin-proposal-optional-chaining"
	]
}